- if @user.errors.any?
  .alert-box.alert{:data => {:alert => true}}
    = "The form contains #{pluralize(@user.errors.count, 'error')}"
    %ul
      - @user.errors.full_messages.each do |error|
        %li= error
    %a{:href => '#', :class => 'close'} &times

