.subnav {
  position: relative;
  top: -1em;
  background: #F2F2F2;
  padding: 10px;
  ul {
    margin: 0;
    li {
      display: inline-block;
      a {
        display: inline-block;
        &.button {
          margin-bottom: 0;
        }
      }
    }
  }
}
